:host {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
}

aside {
  flex: 1;
  width: 20%;
}

app-panel-manager {
  flex: 0 0 80%;
}
