<h2 mat-dialog-title>Import file</h2>

<mat-dialog-content>
  <div
    role="button"
    tabindex="0"
    class="file-input-container"
    (click)="fileInput.click()"
    (keyup)="fileInput.click()"
    (keydown)="fileInput.click()"
  >
    @if (!selectedFile) {
      <mat-label>Upload the file</mat-label>
    }
    <input
      #fileInput
      type="file"
      [multiple]="false"
      (change)="onFileSelected($event)"
      style="display: none"
    />

    @if (selectedFile) {
      <span class="file-name">
        {{ selectedFile.name }}
      </span>

      <button mat-button (click)="resetForm($event)">Clear</button>
    }
  </div>

  <mat-form-field>
    <mat-label>Table name</mat-label>
    <input matInput type="text" [formControl]="tableName" />
    @if (tableName.getRawValue() != null) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="tableName.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    @if (dataTyp.invalid) {
      <mat-error>{{validation.tableName}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type of imported data</mat-label>
    <mat-select [formControl]="dataTyp">
      <mat-option value="">Unknown</mat-option>
      <mat-option value="csv">CSV</mat-option>
      <mat-option value="json">JSON</mat-option>
    </mat-select>
    @if (dataTyp.invalid) {
      <mat-error>{{validation.dataType}}</mat-error>
    }
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button>Cancel</button>
  <button mat-button cdkFocusInitial (click)="uploadFile()">
    Import
  </button>
</mat-dialog-actions>
