<h2 mat-dialog-title>Import file</h2>

<mat-dialog-content>
  Provide the file to import
  <div class="file-input-container">
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" [(ngModel)]="fileName">
      @if (fileName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="fileName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="fileInput.click()">
      Choose file
    </button>
    <input
      #fileInput
      type="file"
      [multiple]="false"
      (change)="onFileSelected($event)"
      style="display: none"
    />

    @if (selectedFile) {
      <span class="file-name">
        {{ selectedFile.name }}
      </span>

      <button mat-button (click)="resetForm()" >Clear</button>
    }
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="uploadFile()">Import</button>
</mat-dialog-actions>
